<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://maxcdn.boot
   <th>Place libre</th>
   strapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js"></script>
   <meta charset="utf-8">
        <title>Polydevs</title>
	{% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	   {% endblock %}
      </head>
  <body>
    <div id="menu_vertical">
      <div id="logo_menu">
        <img src="">
      </div>
      <ul class="nav menu" >
          <li class="active"><a href="./"><span class="glyphicon glyphicon-home"> Accueil</span></a></li>
          <li class="active"><a href="./"><span class="glyphicon glyphicon-road"> Parking privé</span></a></li>
    </ul>
</div>
<div id="pages">
       <div id="map-container">
            <div id="map"></div>
          </div>
              <div id="inline-actions">
         <input id="refresh" type="button" value="Refresh Map" class="item"/>
              </div>
              <div id="wrap-tab">
                <div class="container">
                  <h2>Parking proche de votre position</h2>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Adresse</th>
                        <th>Place libre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{p1[1]}}</td>
                        <td>{{p1[3]}}</td>
                        <td>{{p1[2]}}</td>
                      </tr>
                      <tr>
                        <td>{{p2[1]}}</td>
                        <td>{{p2[3]}}</td>
                        <td>{{p2[2]}}</td>
                      </tr>
                      <tr>
                        <td>{{p3[1]}}</td>
                        <td>{{p3[3]}}</td>
                        <td>{{p3[2]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
         <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
          <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
         <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8d2n5UD6lfUH9dmTjzGpelgCeglcqpU8&callback=initMap">
         </script>

      </div>
    </body>
</html>
